
body {
  background-color: rgb(184, 251, 229);
}

.App {
  background-color: #fcfaf9;
  min-height: 90vh;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(9, 79, 55);
}

.Container {
  display: flex;
  justify-content: center;
}

.Photo {
  border-radius: 5%;
  margin-top: 90px;
}

.crossed {
    text-decoration: line-through 2px red;
    background-color: #f0f0f0;
}

ul {
    list-style: none;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
}

li img {
    margin-right: 10px;
}

input {
    flex: 1;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
}

.Add {
    background-color: rgb(9, 79, 55);
    
}

.Delete {
    background-color: red;
    margin: 20px;
    width: 120px;
}

.Btn {
    flex: 0 0 auto;
    margin-left: 10px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}